<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>ES6</title>
</head>
<body>
  <p>ES6</p>
  <p>javacript</p>
  <p>zcr</p>
<script src="/js/index.js"></script>
</body>
</html>